<a href="https://colab.research.google.com/github/youngbinNa/ECoTe-practice/blob/main/12.dijkstra/38_%EC%A0%95%ED%99%95%ED%95%9C_%EC%88%9C%EC%9C%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

나동빈 답

In [1]:
INF=1000
n,m=6,6

graph=[[INF]*(n+1) for i in range(n+1)]

for a in range(1,n+1):
  for b in range(1,n+1):
    if a==b:
      graph[a][b]=0
'''
for _ in range(m):
  a,b=map(int,input().split())
  #비용 1로 설정
  graph[a][b]=1
print(graph)
'''
graph=[[1000, 1000, 1000, 1000, 1000, 1000, 1000], [1000, 0, 1000, 1000, 1000, 1, 1000], [1000, 1000, 0, 1000, 1000, 1000, 1000], [1000, 1000, 1000, 0, 1, 1000, 1000], [1000, 1000, 1, 1000, 0, 1000, 1], [1000, 1000, 1, 1000, 1, 0, 1000], [1000, 1000, 1000, 1000, 1000, 1000, 0]]

for k in range(1, n + 1):
  for a in range(1, n + 1):
    for b in range(1, n + 1):
      graph[a][b] = min(graph[a][b], graph[a][k] + graph[k][b])
      
for a in range(1, n + 1):
  for b in range(1, n + 1):
    if graph[a][b]==INF:
      print('INF',end=" ")
    else:
      print(graph[a][b],end=" ")
  print()
  
result=0  
for a in range(1, n + 1):
  count=0
  for b in range(1, n + 1):
    #양방향 모두 갈 수 있으면
    if graph[a][b]!=INF or graph[b][a]!=INF:
      print(a,b,graph[a][b],graph[b][a],count)
      count+=1
  # n(6)개 전부 갈 수 있으면 성적 순위 다 알 수 있다는 뜻
  if count==n:
    print(a,b)
    result+=1
  print()
print(result)

0 2 INF 2 1 3
INF 0 INF INF INF INF
INF 2 0 1 INF 2
INF 1 INF 0 INF 1
INF 1 INF 1 0 2
INF INF INF INF INF 0
1 1 0 0 0
1 2 2 1000 1
1 4 2 1000 2
1 5 1 1000 3
1 6 3 1000 4

2 1 1000 2 0
2 2 0 0 1
2 3 1000 2 2
2 4 1000 1 3
2 5 1000 1 4

3 2 2 1000 0
3 3 0 0 1
3 4 1 1000 2
3 6 2 1000 3

4 1 1000 2 0
4 2 1 1000 1
4 3 1000 1 2
4 4 0 0 3
4 5 1000 1 4
4 6 1 1000 5
4 6

5 1 1000 1 0
5 2 1 1000 1
5 4 1 1000 2
5 5 0 0 3
5 6 2 1000 4

6 1 1000 3 0
6 3 1000 2 1
6 4 1000 1 2
6 5 1000 2 3
6 6 0 0 4

1